html, body {
    margin: 0;
    font-family: sans-serif;
    
    
}
header {
    background-color: azure;
    color: black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#logo {
    width: 60px;
    position: absolute;
    margin-left: 5%;
    
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
}
li {
    float: left;
    padding: 20 10 20 10;
}
li:hover{
    background-color: white;
}
#imagem-fundo {
    background: url("wrtiting-tools.jpg");
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo {
    color: black;
    padding-top: 20%;
    font-size: 70px;
    font-family: serif;
}
.font{
    font-size: 22px;
    font-style: arial;

}
#subtitulo {
    color: black;
    font-family: serif;
    
}
.icone {
    width: 40%;
}
section {
    padding: 20px;
    float: left;
    
}
#resultado{
    padding: 20px;
}
.destaque {
    background-color: #f7f7f7;
}
.imgproblemas {
    width: 70%;
    height: 30%;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois{
    width: 30%;
    padding: 0 10%;
    
}
.tres {
    width: 29%;
    padding: 0 2%;
}
.quatro {
    width: 15%;
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
footer {
    background-color: azure;
    float: left;
    width: 100%; 
}
@media all and (max-width: 768px) {
    #menu {
        visibility: hidden;
    }
    .coluna, .dois, .tres {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    #logodiv {
        width: 100%;
        position: relative;
        text-align: center;
        
    }
    #logo {
        margin-left: 0px;
        transform: translateX(-50%);
    }
}

